<% content_for :title, "Quizzes" %>

<div class="w-full">
  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Quizzes</h1>
    <%= link_to "New quiz", new_quiz_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div class="mb-6">
    <%= form_with(url: quizzes_path, method: :get, class: "flex gap-2", data: { turbo_frame: "quizzes" }) do |f| %>
      <%= f.text_field :query, 
          value: params[:query], 
          placeholder: "Search quizzes...",
          class: "block shadow-sm rounded-md border px-3 py-2 flex-grow border-gray-400 focus:outline-blue-600" %>
      <%= f.submit "Search", 
          class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white cursor-pointer" %>
    <% end %>
  </div>

  <%= turbo_frame_tag "quizzes" do %>
    <div id="quizzes" class="min-w-full divide-y divide-gray-200 space-y-5">
      <% if @quizzes.any? %>
        <%= render @quizzes %>
      <% else %>
        <p class="text-center my-10">No quizzes found.</p>
      <% end %>
    </div>
  <% end %>
</div>