<% content_for :title, "Showing quiz" %>

<div class="md:w-2/3 w-full">


        <div class="flex flex-col">
        <h2 class="font-bold text-4xl"><%= @quiz.title %></h2>
        <p class="text-gray-600 text-xl"><%= @quiz.description %></p>
      </div>

  <div class="pt-5">
  <% if @quiz.owner_id == current_user&.id %>
    <%= link_to "Edit this quiz", edit_quiz_path(@quiz), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <% end %>
  <%= link_to "Back to quizzes", quizzes_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <% if @quiz.owner_id == current_user&.id %>
  <%= button_to "Destroy this quiz", @quiz, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure you want to delete this quiz?" } %>
  <% end %>
  <% if @quiz.owner_id == current_user&.id %>
  <%= button_to "Reset quiz attempts", reset_attempts_quiz_path(@quiz), method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure you want to reset quiz attempts?" } %>
  <% end %>

    <% if current_user %>
    <% if @quiz.attempted_by?(current_user) %>
      <%= link_to "View Last Attempt", 
                  quiz_attempt_path(@quiz, @quiz.last_attempt_for(current_user)), 
                  class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-green-600 hover:bg-green-500 text-white inline-block font-medium" %>
    <% else %>
      <%= link_to "Take Quiz", 
                  new_quiz_attempt_path(@quiz), 
                  class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium" %>
    <% end %>
  <% end %>
  <div class="mt-8">
    <% if @quiz.attempts.any? %>
      <table class="min-w-full border-collapse">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2 text-left">User</th>
            <th class="px-4 py-2 text-left">Score</th>
            <th class="px-4 py-2 text-left">Date</th>
          </tr>
        </thead>
        <tbody>
          <% @quiz.attempts.includes(:user, :submissions).limit(10).sort_by { |attempt| -attempt.score }.each do |attempt| %>
            <tr class="border-t">
              <td class="px-4 py-2"><%= attempt.user.user_name %></td>
              <td class="px-4 py-2"><%= attempt.submissions.count { |s| s.answer&.is_correct? } %> / <%= attempt.submissions.count %></td>
              <td class="px-4 py-2"><%= attempt.created_at.strftime("%B %d, %Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  </div>
</div>
