<%= fields_for "quiz[questions_attributes][#{answer.question_id}][answers_attributes][#{answer.id}]", answer do |ff| %>
<fieldset class="mb-4" id="<%= answer.id %>">     
        <legend>Answer Info</legend>
        <%= ff.label :body %><br>
        <%= ff.text_field :body, class: [
            "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
            {       
                "border-gray-400 focus:outline-blue-600": answer.errors[:body].none?,
                "border-red-400 focus:outline-red-600": answer.errors[:body].any?
            }
        ] %>

        <h3>Answer correct: </h3>
        <%= ff.check_box :is_correct %>
        <%= ff.hidden_field :id %>

        <%= button_tag "Delete answer", formaction: quiz_question_answer_path(answer.question.quiz_id, answer.question_id, answer.id), formmethod: :delete, class: "mt-4 float-right p-2 rounded-md bg-red-300 hover:bg-red-400" %>
    </fieldset>
<% end %>